body {
    background-color:  #e0e7d7;
  }
  
form button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
form button:hover {
    background-color: #45a049;
  }

p {
    padding-top: 4px;
}

.container {
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 6px;
}
